
* {box-sizing: border-box;}

/* body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient( #1E9600, #FFF200, #FF0000 );
} */

body {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/background1.png);
  display: table;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #78ffd6;
  color: #111;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45B649;
}

.container {
  border-radius: 5px;
  background-color: #2193b0;
 
  padding: 20px;
}

/* enter sign */
.enter {
  padding: 15px;
}

/* grow on hover */
img:hover {
  transform: scale(1.5);
}