body {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/background1.png);
  display: table;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}


.card-columns {
width: 85%;
height: 85;
 margin: auto;
 margin-top: 8rem;
 margin-bottom: 8rem; 

}

/* enter sign */
.enter {
  padding: 15px;
}

/* grow on hover */
img:hover {
  transform: scale(1.5);
}