/* landing page styling */

:root {
  --typewriterSpeed: 6s;
  --typewriterCharacters: 23;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right, red, yellow);
  place-content: center;
  
}

.enter {
  padding-left: 2rem;
  padding-top: 2rem;
}

/* to centre vertically */
.container1 {
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* to centre horizonitally */
.row {
  padding-bottom: 2rem;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
}

/* image sizing */
img {
  height: 10rem;
  width: 10rem;
  padding-left: 10px;
  transition: transform 0.2s;
}

/* grow on hover */
img:hover {
  transform: scale(1.8);
}

.container2 {
  display: table-cell;
}

/* animation for blocks */
.mycustom_class1.w3-animate-top {
  animation: 2s ease 0s normal none 1 running animatetop;
}

.mycustom_class2.w3-animate-top {
  animation: 6s ease 0s normal none 1 running animatetop;
}

.mycustom_class3.w3-animate-top {
  animation: 7s ease 0s normal none 1 running animatetop;
}

.mycustom_class4.w3-animate-top {
  animation: 9s ease 0s normal none 1 running animatetop;
}

.mycustom_class5.w3-animate-top {
  animation: 11s ease 0s normal none 1 running animatetop;
}

.mycustom_class1.w3-animate-bottom {
  animation: 2s ease 0s normal none 1 running animatebottom;
}

.mycustom_class2.w3-animate-bottom {
  animation: 4s ease 0s normal none 1 running animatebottom;
}

.mycustom_class3.w3-animate-bottom {
  animation: 6s ease 0s normal none 1 running animatebottom;
}

.mycustom_class4.w3-animate-bottom {
  animation: 8s ease 0s normal none 1 running animatebottom;
}

.mycustom_class5.w3-animate-bottom {
  animation: 10s ease 0s normal none 1 running animatebottom;
}

/* removes boxes on smaller screens */
@media (max-width: 1202px) {
  .container1,
  .enter {
    display: none;
  }
}

@media (max-width: 1202px) {
  .container1 {
    display: none;
  }
}

@media (max-width: 1202px) {
  body {
    background-image: none;
    background-color: #bdc3c7 !important;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

/* shows script on smaller screens */
@media (min-width: 1202px) {
  .container2 {
    display: none;
  }
}

h1 {
  font-size: 2em !important;
  position: relative;  
  width: max-content;  
  font-family: "Source Code Pro", monospace !important;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background-color: #bdc3c7 !important;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.1em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: hsl(0 0% 0% / 0.7);
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
